<ion-modal-view class="bg-filter">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Filter</h1>
        <div class="buttons button-right">
            <button class="button button-clear" ng-click="closefilter();">Close</button>
        </div>
    </ion-header-bar>

    <div class="row filter-modal">
        <div class="col col-50">
            <ion-list>
                <ion-item ng-class="{'active': class1==true}" ng-click="getfilterresults(1);">Name ({{allfiltercount.name}})</ion-item>
                <ion-item ng-class="{'active': class2==true}" ng-click="getfilterresults(2);">Company ({{allfiltercount.company}})</ion-item>
                <ion-item ng-class="{'active': class3==true}" ng-click="getfilterresults(3);">Location ({{allfiltercount.location}})</ion-item>
                <ion-item ng-class="{'active': class4==true}" ng-click="getfilterresults(4);">Designation ({{allfiltercount.designation}})</ion-item>
            </ion-list>
        </div>
        <div class="col right">
            <ion-list>
                <ion-item ng-repeat="filtered in filterresults" ng-if="class1==true">
                    <label>
                        <input type="checkbox" ng-model="filtered.isFiltered">{{filtered.name}}
                    </label>
                </ion-item>
                <ion-item ng-repeat="filtered in filterresults" ng-if="class2==true">
                    <label>
                        <input type="checkbox" ng-model="filtered.isFiltered">{{filtered.companyname}}
                    </label>
                </ion-item>
                <ion-item ng-repeat="filtered in filterresults" ng-if="class3==true">
                    <label>
                        <input type="checkbox" ng-model="filtered.isFiltered">{{filtered.personalCity}}
                    </label>
                </ion-item>
                <ion-item ng-repeat="filtered in filterresults" ng-if="class4==true">
                    <label>
                        <input type="checkbox" ng-model="filtered.isFiltered">{{filtered.designation}}
                    </label>
                </ion-item>
            </ion-list>
        </div>
        <div class="button-bar bottom-stick">
            <button class="button button-positive button-small" ng-click="clearFilter();">Clear</button>
            <button class="button button-positive button-small" ng-click="applyFilter(filterresults);">Apply</button>
        </div>
    </div>
</ion-modal-view>