<ion-view view-title="SpingR">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ln-share small-icon" ng-click="openforwardmodal();"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="vcard" ng-if="showAll==0">
            <div class="picture" style="background-image: url('{{contact.photoUrl}}'), url('img/default.png');"></div>
            <div class="company" style="background-image: url('{{contact.logo}}'), url('img/spingr.png');" ng-if="contact.logo"></div>

            <div class="in-vcard">
                <h1 ng-bind="contact.name"></h1>
                <h2>{{contact.name}} <i class="icon ln-pencil"></i></h2>
            </div>
            <div class="in-vcard">
                <h1 ng-bind="contact.designation">Designation</h1>
                <h2 ng-bind="contact.companyname"></h2>
                <h2 ng-bind="contact.area"></h2>
            </div>
            <div class="in-vcard">
                <h3 ng-bind="contact.personalMobile"></h3>
                <h3 ng-bind="contact.number"></h3>
                <h3 ng-bind="contact.email"></h3>
            </div>
        </div>

        <button class="button button-block button-positive" ng-if="showAll==0">Share</button>


        <div class="vcard" ng-if="showAll==1">
            <div class="picture" style="background-image: url('{{contact.image|serverimageprofile}}');"></div>
            <div class="company" style="background-image: url('{{contact.companylogo|serverimage}}');" ng-if="contact.companylogo"></div>

            <div class="in-vcard">
                <h1 ng-bind="contact.name"></h1>
                <h2>{{contact.aliasname}} <i class="icon ln-pencil"></i></h2>
            </div>
            <div class="in-vcard">
                <h1 ng-bind="contact.designation">Designation</h1>
                <h2 ng-bind="contact.companyname"></h2>
                <h2 ng-bind="contact.companyaddress"></h2>
                <h3 ng-bind="contact.companystate"></h3>
                <h3 ng-bind="contact.companycity"></h3>
            </div>
            <div class="in-vcard">
                <h3 ng-bind="contact.personelcontact"></h3>
                <!--                <h3 ng-bind="contact.number"></h3>-->
                <h3 ng-bind="contact.companyemail"></h3>
            </div>
        </div>
    </ion-content>
</ion-view>