<ion-view>

    <ion-nav-buttons side="left">
        <a class="button button-icon ion-ios-close-empty" ng-click="searchquery.search='';namesearch();backtospingbook();"></a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-search small-icon animate-if" ng-click="showcirclesearch();" ng-if="filterbtn == false;"></button>

        <button class="button button-icon ln-funnel small-icon animate-if" ng-click="openfilter();"></button>

        <button class="button button-icon ion-android-more-vertical small-icon" ng-click="openPopover();"></button>
    </ion-nav-buttons>

    <ion-nav-title>
        <h1 class="title animate-if" ng-if="search == true;">SpingR</h1>
        <div class="animate-if headersearch row nopad" ng-if="search == false;">
            <!--            <input type="text" ng-keypress="filtertoggle($event);"> -->
            <input type="search" ng-model="searchquery.search" ng-change="namesearch();">
            <i class="icon ion-close-circled" ng-click="searchquery.search='';namesearch();"></i>
        </div>
    </ion-nav-title>


    <ion-content overflow-scroll='true'>
        <ion-list class="default-height">
            <!--            <ion-item class="item-remove-animate item-avatar2" ng-repeat="contact in contacts" type="item-text-wrap" ng-click="hidedialer();" on-hold="call(contact.number);" href="#/circle/circle1/{{contact.id}}">-->
            <ion-item class="item-remove-animate item-avatar2" collection-repeat="myconarrs in myarr" type="item-text-wrap" on-hold="call(myconarrs.personalMobile);" ng-click="showDetailCircle1(myconarrs);">

                <div class="picture" style="background-image: url('{{myconarrs.photoUrl|serverimageprofile}}');"></div>

                <div class="card-style">
                    <h2 class="positive" ng-bind-html="myconarrs.name|addhighlight:searchquery.search:phone.number"></h2>

                    <p class="stable">
                        <span ng-bind-html="myconarrs.personalMobile|addnumhighlight:phone.number"></span>
                        <br>{{myconarrs.companyname}}
                        <br>{{myconarrs.designation}}
                    </p>

                    <div class="company" style="background-image: url('{{myconarrs.companylogo|serverimage}}');" ng-if="myconarrs.companylogo"></div>
                </div>

                <ion-option-button class="button-large button-positive ln-comments"></ion-option-button>
                <ion-option-button class="button-large button-positive ln-phone" ng-click="call(myconarrs.personalMobile);">
                </ion-option-button>
                <ion-option-button class="button-large button-positive ln-comment" ng-click="sms(myconarrs.personalMobile);"></ion-option-button>
                <ion-option-button class="button-large button-positive ln-envelope" ng-click="mail(myconarrs.officeEmail);" ng-if="myconarrs.officeEmail"></ion-option-button>

            </ion-item>
            <div class="noresult" ng-show="noresult">No result found</div>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMoreContacts()" spinner="ripple" ng-if="keepscrolling" distance="50%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>